#PRACTICAL 3
##Study of list & Various operations on it
###Bidisha Chaudhuri PRN:25070123034
###EnTC Batch A2

In [ ]:
## Python lists
thislist = ["apple", "guava", "watermelon"]
print(thislist)     ##Instead of doubl quotes, single quotes can be used, but preferred - double quotes

['apple', 'guava', 'watermelon']

In [ ]:
#Allow Duplicates
thislist = ["apple", "guava", "apple", "watermelon", "guava"]
print(thislist)

['apple', 'guava', 'apple', 'watermelon', 'guava']

In [ ]:
list1 = [1,2,'symbi', 54]
list1[0]

1

In [ ]:
#List Length
thislist = ["apple", 'guava', 'watermelon']
print(len(thislist))

3

In [ ]:
#A list with strings, integers, and boolean values:
list1 = ["abc", 34, True, 40, "female", False]  ##True & False are boolean functions

In [ ]:
#Access Items
thislist = ["apple", "cherry", "litchi"]
print(thislist[1])

cherry

In [ ]:
#Reverse/Negative Indexing
thislist = ["apple", "chery", "guava"]
print(thislist[-2])

chery

In [ ]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'guava', 'cherry', 'orange']

In [ ]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[-3:-1])

['kiwi', 'melon']

In [ ]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[-3:])

['kiwi', 'melon', 'mango']

In [ ]:
#Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrent"
print(thislist)

['apple', 'blackcurrent', 'cherry']

In [ ]:
thislist = ["school", "college", "office"]
thislist[1] = "university"
thislist[2] = "workplace"
print(thislist)

['school', 'university', 'workplace']

In [ ]:
#Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")   #Append means to add it at the end
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"orange")
print(thislist)

['apple', 'banana', 'orange', 'cherry']

In [ ]:
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango","pineappple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineappple', 'papaya']

In [ ]:
8 in [3,4,5]

False

In [ ]:
list = ('-Symbi')*6
#list1(1,2,3) - this will give error
print(list)

-Symbi-Symbi-Symbi-Symbi-Symbi-Symbi

In [ ]:
L = ['spam', 'Spam', 'SPAM']
print(L[0])

spam

In [ ]:
numbers = [10, 20, 30, 40, 50]
#Slicing examples
"Elements from index 1 to 3:"
"First three elements: "
"Elements from index 2 onwards: "
"All elements: "

'All elements: '

In [ ]:
#Problem Statements
marks = [99,80,78,56,39]
marks1 = max(marks)
print("The highest marks obtained is: ",marks1)
marks2 = min(marks)
print("The lowest marks obtaind is: ",marks2)
marks.sort()      #To arrange in ascending order
print(marks)

The highest marks obtained is:  99
The lowest marks obtaind is:  39
[39, 56, 78, 80, 99]

In [ ]:
numbers = [1,2,3,4,5,6]
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(len(numbers))
numbers.sort()
print(numbers)

6
1
21
6
[1, 2, 3, 4, 5, 6]

In [ ]:
#Grocery Shopping List problem statement 1

grocery = ["banana", "cauliflower", "onions","potato", "tomato"]
grocery.insert(3,"cherry")
grocery.append("carrot")
grocery.remove("banana")
print(grocery)

['cauliflower', 'onions', 'cherry', 'potato', 'tomato', 'carrot']

In [ ]:
#Phone Contact problem statement 2
#Create a list of contacts, add a new contact, delete an existing contact, display contacts alphabetically

contact = ["Prithvi", "Aksharr", "Abhilasha", "Shreeya", "Shatakshi", "Dolly","Anushka", "Amay"]
contact.insert(4,"Vaibhav")
contact.append("Lakshay")
contact.remove("Amay")
contact.sort()
print(contact)

['Abhilasha', 'Aksharr', 'Anushka', 'Dolly', 'Lakshay', 'Prithvi', 'Shatakshi', 'Shreeya', 'Vaibhav']

In [ ]:
#Problem Statement 2 contd.
contact = ["Prithvi", "Aksharr", "Abhilasha", "Shreeya", "Shatakshi", "Dolly","Anushka", "Amay"]
contact.insert(4,"Vaibhav")
contact.remove("Amay")
print(contact)

['Prithvi', 'Aksharr', 'Abhilasha', 'Shreeya', 'Vaibhav', 'Shatakshi', 'Dolly', 'Anushka']

In [ ]:
#Temperature Analysis problem statement 3

temperature = [25, 24, 17, 19, 16, 20, 22, 29, 12, 10]

#Temperatures for the first 5 days
print(temperature[0:5])

[25, 24, 17, 19, 16]

In [ ]:
#Problem statement 3 contd.

temperature = [25, 24, 17, 19, 16, 20, 22, 29, 12, 10]

#Temperatures for the last 5 days
print(temperature[-5:])

[20, 22, 29, 12, 10]

In [ ]:
#Problem statement 3 contd.
temperature = [25, 24, 17, 19, 16, 20, 22, 29, 12, 10]
#Highest and Lowest Temperatures
max = max(temperature)
print("The highest temperature is: ", max)
print("The lowest temperature is: ", min(temperature))
a = sum(temperature)
b = len(temperature)
print("The average of the temperatures is: ", a/b)

The highest temperature is:  29
The lowest temperature is:  10
The average of the temperatures is:  19.4